{% extends 'store/base.html' %}

{% block content %}
<h2>Your Cart</h2>

{% if cart_items %}
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td><img src="{{ item.product.image.url }}" width="80"></td>
      <td>{{ item.product.name }}</td>
      <td>₹{{ item.product.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>₹{{ item.subtotal }}</td>
      <td>
        <!-- Increase -->
        <form action="{% url 'update_cart' item.product.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="action" value="increase">
          <button class="btn btn-sm btn-outline-success">+</button>
        </form>

        <!-- Decrease -->
        <form action="{% url 'update_cart' item.product.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="action" value="decrease">
          <button class="btn btn-sm btn-outline-danger">−</button>
        </form>

        <!-- Remove -->
        <form action="{% url 'remove_from_cart' item.product.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-sm btn-outline-dark">Remove</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Total -->
<h4>Total: ₹{{ total }}</h4>

<!-- Place Order Button -->
<form action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary">Place Order</button>
  </form>
  

{% else %}
  <p>Your cart is empty.</p>
{% endif %}
{% endblock %}
